<%- include partial/header.ejs %>
<%- include partial/navbar.ejs %>	

<div class="section white">
    <div class="row container">
      <h2 class="header">About Us</h2>
      <p class="grey-text text-darken-3 lighten-3">Over the past decade, Vietnamese sandwich lovers from all over Orange County have chosen Top Baguette as the premiere bakery that serves authentic Vietnamese food and coffee. Since its opening in 2009, Top Baguette sits at the heart of Westminster and proudly delivers fresh bread and sandwiches to its growing fan base. Serving hundreds of sandwiches each day to both local customers and travelers from abroad, Top Baguette has become known for its quality bread, customer service, and sandwiches. Because of its commitment to quality food and service, Top Baguette is known for trying new recipes and seeking ways to improve its critically acclaimed sandwiches.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="/images/About.jpg"></div>
</div>
<div class="divider"></div>
<div class="section white container center">
  A sandwich sonnet from the OC Register:<br/>

“Thine name, Top Baguette, doth suggest the best<br/>

Of all bread-based delights across the land,<br/>

Since that first bite, I’m unable to rest,<br/>

Filled with memories of sandwich so grand,<br/>

No. 6 offers a slick of pate<br/>

That’s umami beneath cold cuts sublime,<br/>

No. 4 is BBQ pork — hooray!<br/>

It’s like candy meets pig, each bite stops time,<br/>

I’m stuffed, but OK, No. 2 as well,<br/>

This lemongrass beef, it makes my heart lust,<br/>

Say you love me, Southern (Vietnam) belle,<br/>

Or to other delis, depart I must,<br/>

What? I owe you $7.75?<br/>

Take it all, my cause for staying alive!”<br/>
</div>
<%- include partial/footer.ejs %>  	