<%- include partial/header.ejs %>
<%- include partial/navbar.ejs %>	

<div class="slider">
    <ul class="slides">
      	<li>
        	<img src="/images/Sandwich.jpg"> 
        	<div class="caption center-align">
          		<h3>Fresh Sandwiches</h3>
        	</div>
      	</li>
      	<li>
        	<img src="/images/Eggroll.jpg"> 
        	<div class="caption left-align">
        		<h3>Fair Price</h3>
        	</div>
      	</li>
      	<li>
        	<img src="/images/Shakes.jpg"> 
        	<div class="caption right-align">
          		<h3>Fast Service</h3>
        	</div>
      	</li>
      	<li>
        	<img src="/images/SpringRolls.jpg">
        	<div class="caption center-align">
          		<h3>Critically Acclaimed</h3>
        	</div>
      	</li>
    </ul>
</div>

<%- include partial/footer.ejs %>  	