
@shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);

div {
	h3
	{
		text-shadow: @shadow;
	}

	h5
	{
		text-shadow: @shadow;
	}
}

.parallax-container {
      height: 20em;
}