<!-- Social Media Fixed action buttons -->
  	<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 20px; right: 24px;">
    <a class="btn-floating btn-large light-green darken-3">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating red" href="https://www.yelp.com/biz/top-baguette-westminster"><i class="fa fa-yelp" aria-hidden="true"></i></a></li>
      <li><a class="btn-floating blue" href="https://www.facebook.com/topbaguette/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
    </ul>
  </div>
</body>
</html>