<!-- Nav bar -->
<nav class="light-green darken-3">
	<div class="container">
    	<div class="nav-wrapper">
      		<a href="/" class="brand-logo"><img src="http://www.topbaguette.com/wp-content/uploads/2013/08/TBlogoweb-01.png" height="50" width="200"></a>
      		<a href="#" data-activates="mobile-nav" class="button-collapse">
      			<i class="material-icons">menu</i>
  			</a>
      		<ul class="right hide-on-med-and-down">
        		<li><a href="#">Menu</a></li>
        		<li><a href="/about">About</a></li>
        		<li><a href="/contact">Contact</a></li>
      		</ul>
      		<ul class="side-nav" id="mobile-nav">
      			<li><a href="#">Menu</a></li>
        		<li><a href="/about">About</a></li>
        		<li><a href="/contact">Contact</a></li>
      		</ul>
    	</div>
	</div>
</nav>